<section data-scroll-section class="interactive-maps" style="background-image: url('/assets/images/map-img.jpg')">
  <nav class="map-tab-btns animate" data-animation="fadeInLeft" data-duration="700">
    <a href="javascript:" class="active" data-target="districts">
      <span><lfr-editable id="districts-title" type="text">Districts</lfr-editable></span>
    </a>
    <a href="javascript:" data-target="assets">
      <span><lfr-editable id="assets-title" type="text">Assets</lfr-editable></span>
    </a>
  </nav>
  <div class="slider interactive-maps-slider districts-slider" data-map-name="districts">
    <div></div>
    <div style="background-image: url('/assets/images/MiSK-forum.png')"></div>
    <div style="background-image: url('/assets/images/lifeline.png')"></div>
    <div style="background-image: url('/assets/images/boulevard.png')"></div>
  </div>
  <div class="slider interactive-maps-slider assets-slider" style="display: none" data-map-name="assets">
    <div></div>
    <div style="background-image: url('/assets/images/ilmi-museum.png')"></div>
    <div style="background-image: url('/assets/images/MiSK-academy.png')"></div>
    <div style="background-image: url('/assets/images/misk-art-institute.png')"></div>
    <div style="background-image: url('/assets/images/misk-world.png')"></div>
    <div style="background-image: url('/assets/images/misk-school.png')"></div>
    <div style="background-image: url('/assets/images/misk-foundation.png')"></div>
    <div style="background-image: url('/assets/images/misk-conference-center.png')"></div>
    <div style="background-image: url('/assets/images/mbs-college-cyber-security.png')"></div>
    <div style="background-image: url('/assets/images/mbs-college.png')"></div>
  </div>
  <div class="map-pins-wrapper" data-map-name="districts">
    <div class="pin-wrapper">
      <div class="pin-click districts-pin-click animate" data-animation="bounceInDown" data-duration="500" data-id="1" data-pin-pos="1">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title"><lfr-editable id="district1-pin-title" type="rich-text">MiSK Forum</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="district1-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg District1Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="district1-title" type="text">MiSK Forum:</lfr-editable></h4>
            <p><lfr-editable id="district1-description" type="rich-text">Where young leaders, creators and thinkers explore ways to meet the challenge of change with established global innovators.</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click districts-pin-click animate" data-animation="bounceInDown" data-duration="600" data-id="2" data-pin-pos="2">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title"><lfr-editable id="district2-pin-title" type="rich-text">Lifeline</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="district2-image-thumb" type="image"><img src="/assets/images/lifeline-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/lifeline-big.jpg" class="bigImg District2Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="district2-title" type="text">Lifeline:</lfr-editable></h4>
            <p><lfr-editable id="district2-description" type="rich-text">The central artery of the community, brimming with flexible workspaces, residential amenities, retail and dining spots.</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click districts-pin-click animate" data-animation="bounceInDown" data-duration="700" data-id="3" data-pin-pos="3">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title"><lfr-editable id="district3-pin-title" type="rich-text">Boulevard</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="district3-image-thumb" type="image"><img src="/assets/images/boulevard-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/boulevard-big.jpg" class="bigImg District3Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="district3-title" type="text">The Boulevard:</lfr-editable></h4>
            <p><lfr-editable id="district3-description" type="rich-text">The vibrant link between the city’s various districts, invoking a connection from Riyadh’s rich past to its exciting future.</lfr-editable></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-pins-wrapper" style="display: none" data-map-name="assets">
    <div class="pin-wrapper">
      <div class="pin-click assets-pin-click animate" data-animation="bounceInDown" data-duration="100" data-id="1" data-pin-pos="1">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title-small"><lfr-editable id="asset1-pin-title" type="rich-text">ILMi Museum</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="asset1-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg Asset1Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="asset1-title" type="text">ILMi Museum</lfr-editable></h4>
            <p><lfr-editable id="asset1-description" type="rich-text">A world-class platform for discovery, fostering interactive learning and instilling a passion for science in Saudi youth.</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click assets-pin-click animate" data-animation="bounceInDown" data-duration="200" data-id="2" data-pin-pos="2">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title-small"><lfr-editable id="asset2-pin-title" type="rich-text">MiSK Academy</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="asset2-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg Asset2Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="asset2-title" type="text">MiSK Academy: </lfr-editable></h4>
            <p><lfr-editable id="asset2-description" type="rich-text">An institution whose leading professionals enable job-readiness via cutting-edge, career-focused educational experiences.</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click assets-pin-click animate" data-animation="bounceInDown" data-duration="300" data-id="3" data-pin-pos="4">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title-small"><lfr-editable id="asset3-pin-title" type="rich-text">MiSK Art Institute</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="asset3-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg Asset3Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="asset3-title" type="text">MiSK Art Institute: </lfr-editable></h4>
            <p><lfr-editable id="asset3-description" type="rich-text">Encourages grassroots artistic production, appreciation of Saudi and Arab art, and enables international cultural exchange.</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click assets-pin-click animate" data-animation="bounceInDown" data-duration="400" data-id="4" data-pin-pos="5">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title-small"><lfr-editable id="asset4-pin-title" type="rich-text">MiSK World</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="asset4-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg Asset4Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="asset4-title" type="text">MiSK World: </lfr-editable></h4>
            <p><lfr-editable id="asset4-description" type="rich-text">Signature retail and leisure destination offering unique, hands-on learning experiences that nurture the Kingdom’s youth.</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click assets-pin-click animate" data-animation="bounceInDown" data-duration="500" data-id="5" data-pin-pos="6">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title-small"><lfr-editable id="asset5-pin-title" type="rich-text">MiSK Schools</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="asset5-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg Asset5Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="asset5-title" type="text">MiSK Schools: </lfr-editable></h4>
            <p><lfr-editable id="asset5-description" type="rich-text">An innovative school with a unique curriculum, a progressive focus on experiential learning, and a passion for creativity.</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click assets-pin-click animate" data-animation="bounceInDown" data-duration="600" data-id="6" data-pin-pos="7">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title-small"><lfr-editable id="asset6-pin-title" type="rich-text">MiSK Foundation<br> Centre</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="asset6-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg Asset6Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="asset6-title" type="text">MiSK Foundation Centre</lfr-editable></h4>
            <p><lfr-editable id="asset6-description" type="rich-text">lorem ipsum</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click assets-pin-click animate" data-animation="bounceInDown" data-duration="700" data-id="7" data-pin-pos="8">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title-small  text-center"><lfr-editable id="asset7-pin-title" type="rich-text">MiSK Conference<br> Centre</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="asset7-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg Asset7Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="asset7-title" type="text">MiSK Conference Centre</lfr-editable></h4>
            <p><lfr-editable id="asset7-description" type="rich-text">lorem ipsum</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click assets-pin-click animate" data-animation="bounceInDown" data-duration="800" data-id="8" data-pin-pos="9">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title-small  text-center"><lfr-editable id="asset8-pin-title" type="rich-text">MBS College for<br> Cyber Security</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="asset8-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg Asset8Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="asset8-title" type="text">MBS College for Cyber Security</lfr-editable></h4>
            <p><lfr-editable id="asset8-description" type="rich-text">lorem ipsum</lfr-editable></p>
          </div>
        </div>
      </div>
      <div class="pin-click assets-pin-click animate" data-animation="bounceInDown" data-duration="900" data-id="9" data-pin-pos="10">
        <a href="javascript:" class="pin-icon">
          <span class="pin-title-small  text-center"><lfr-editable id="asset9-pin-title" type="rich-text">MBS<br/> College</lfr-editable></span>
          <i><img src="/assets/svgs/map-pin.svg" alt="" class="img-fluid"></i>
        </a>
        <div class="map-info-window">
          <a href="javascript:" class="map-close"><i class="icon-close"></i></a>
          <div class="map-thumb-img">
            <lfr-editable id="asset9-image-thumb" type="image"><img src="/assets/images/map-thumb.jpg" alt="" class="img-fluid"></lfr-editable>
            <a data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg Asset9Image"><span><i class="icon-expand"></i></span></a>
          </div>
          <div class="map-info-content">
            <h4><lfr-editable id="asset9-title" type="text">MBS College</lfr-editable></h4>
            <p><lfr-editable id="asset9-description" type="rich-text">lorem ipsum</lfr-editable></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-cloud">
    <img src="/assets/images/cloud1.png" class="img-fluid" alt="" style="--i:5">
    <img src="/assets/images/cloud2.png" class="img-fluid" alt="" style="--i:7">
    <img src="/assets/images/cloud3.png" class="img-fluid" alt="" style="--i:9">
    <img src="/assets/images/cloud4.png" class="img-fluid" alt="" style="--i:11">
    <img src="/assets/images/cloud5.png" class="img-fluid" alt="" style="--i:13">
  </div>
</section>

<section class="mobile-interactive-maps">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="mobile-map-btns">
          <a href="javascript:" class="active" data-target="districts"><span data-field-id="DistrictSectionTitle">Districts</span></a>
          <a href="javascript:" data-target="assets"><span data-field-id="AssetSectionTitle">assets</span></a>
        </nav>
      </div>
      <div class="col-12">
        <div class="mobile-map-dropdown">
          <div class="select-wrap districts-select" data-mobile-map-name="districts">
            <select class="selectpicker22 dropup" data-dropup-auto="true" data-show-subtext="true" data-size="3">
              <option data-field-id="District1PinTitle" value="MiSK Forum" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>MiSK Forum</span>" data-id="0">
                MiSK Forum
              </option>
              <option data-field-id="District2PinTitle" value="Lifeline" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>Lifeline</span>" data-id="1">
                Lifeline
              </option>
              <option data-field-id="District3PinTitle" value="Boulevard" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>Boulevard</span>" data-id="2">
                Boulevard
              </option>
            </select>
          </div>
          <div class="select-wrap assets-select" style="display: none" data-mobile-map-name="assets">
            <select class="selectpicker22 dropup" data-dropup-auto="true" data-show-subtext="true"  data-size="3">
              <option data-field-id="Asset1PinTitle" value="ILMi Museum" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>ILMi Museum</span>" data-id="0">
                ILMi Museum
              </option>
              <option data-field-id="Asset2PinTitle" value="MiSK Academy" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>MiSK Academy</span>" data-id="1">
                MiSK Academy
              </option>
              <option data-field-id="Asset3PinTitle" value="MiSK Art Institute" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>MiSK Art Institute</span>" data-id="2">
                MiSK Art Institute
              </option>
              <option data-field-id="Asset4PinTitle" value="MiSK World" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>MiSK World</span>" data-id="3">
                MiSK World
              </option>
              <option data-field-id="Asset5PinTitle" value="MiSK Schools" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>MiSK Schools</span>" data-id="4">
                MiSK Schools
              </option>
              <option data-field-id="Asset6PinTitle" value="MiSK Foundation Centre" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>MiSK Foundation Centre</span>" data-id="5">
                MiSK Foundation Centre
              </option>
              <option data-field-id="Asset7PinTitle" value="MiSK Conference Centre" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>MiSK Conference Centre</span>" data-id="6">
                MiSK Conference Centre
              </option>
              <option data-field-id="Asset8PinTitle" value="MBS College for Cyber Security" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>MBS College for Cyber Security</span>" data-id="7">
                MBS College for Cyber Security
              </option>
              <option data-field-id="Asset9PinTitle" value="MBS College" data-content="<i class='icon-pin-otline'></i> <span class='pin-text'>MBS College</span>" data-id="8">
                MBS College
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="mobile-map-slider-wrapper" data-mobile-map-name="districts">
          <div class="slider m-map-img-slider m-districts-image-slider">
            <div>
              <img src="/assets/images/mobile-misk-forum.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-lifeline.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-boulevard.jpg" alt="" class="img-fluid">
            </div>
          </div>
          <div class="slider m-map-text-slider m-districts-text-slider">
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="District1ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="District1Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="District1Title">MiSK Forum</h4>
                  <p data-field-id="District1Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="District2ImageThumbnail" src="/assets/images/lifeline-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="District2Image" data-fancybox href="/assets/images/lifeline-big.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="District2Title">Lifeline</h4>
                  <p data-field-id="District2Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="District3ImageThumbnail" src="/assets/images/boulevard-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="District3Image" data-fancybox href="/assets/images/boulevard-big.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="District3Title">Boulevard</h4>
                  <p data-field-id="District3Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-map-slider-wrapper"  style="display: none" data-mobile-map-name="assets">
          <div class="slider m-map-img-slider m-assets-image-slider">
            <div>
              <img src="/assets/images/mobile-ilmi-museum.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-misk-academy.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-misk-art-institute.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-misk-world.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-misk-school.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-misk-foundation-centre.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-misk-conference.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-mbs-college-Cybersecurity.jpg" alt="" class="img-fluid">
            </div>
            <div>
              <img src="/assets/images/mobile-mbs-college.jpg" alt="" class="img-fluid">
            </div>
          </div>
          <div class="slider m-map-text-slider m-assets-text-slider">
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="Asset1ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="Asset1Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="Asset1Title">ILMi Museum</h4>
                  <p data-field-id="Asset1Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="Asset2ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="Asset2Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="Asset2Title">MiSK Academy</h4>
                  <p data-field-id="Asset2Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="Asset3ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="Asset3Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="Asset3Title">MiSK Art Institute</h4>
                  <p data-field-id="Asset3Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="Asset4ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="Asset4Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="Asset4Title">MiSK World</h4>
                  <p data-field-id="Asset4Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="Asset5ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="Asset5Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="Asset5Title">MiSK Schools</h4>
                  <p data-field-id="Asset5Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="Asset6ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="Asset6Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="Asset6Title">MiSK Foundation Centre</h4>
                  <p data-field-id="Asset6Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="Asset7ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="Asset7Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="Asset7Title">MiSK Conference Centre</h4>
                  <p data-field-id="Asset7Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="Asset8ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="Asset8Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="Asset8Title">MBS College for Cyber Security</h4>
                  <p data-field-id="Asset8Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
            <div>
              <div class="m-map-info-window">
                <div class="map-thumb-img">
                  <img data-field-id="Asset9ImageThumbnail" src="/assets/images/map-thumb.jpg" alt="" class="img-fluid">
                  <a data-field-id="Asset9Image" data-fancybox href="/assets/images/map-thumb.jpg" class="bigImg"><span><i class="icon-expand"></i></span></a>
                </div>
                <div class="map-info-content">
                  <h4 data-field-id="Asset9Title">MBS<br> College</h4>
                  <p data-field-id="Asset9Description">This is the area  to write any text that the user is wanting to write..</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
