<section class="creativity-section" data-scroll-section>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="creativity-slider-wrap">
          <div class="cd-slider-wrapper"  data-scroll data-scroll-speed="2">
            <ul class="cd-slider"
                data-step1="M1402,800h-2V0h1c0.6,0,1,0.4,1,1V800z"
                data-step2="M1400,800H379L771.2,0H1399c0.6,0,1,0.4,1,1V800z"
                data-step3="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z"
                data-step4="M-2,800h2V0h-1c-0.6,0-1,0.4-1,1V800z"
                data-step5="M0,800h1021L628.8,0L1,0C0.4,0,0,0.4,0,1L0,800z"
                data-step6="M0,800h1400V0L1,0C0.4,0,0,0.4,0,1L0,800z"
            >
              <li class="visible">
                <div class="cd-svg-wrapper">
                  <svg viewBox="0 0 1635 920">
                    <defs>
                      <clipPath id="cd-image-1">
                        <path id="cd-changing-path-1" d="M1400,800H0c0,0,1-213,1-423S1,0,1,0h1399c0.6,0,1,0.4,1,1V800z"/>
                      </clipPath>
                    </defs>
                    <image width="1635" height="920" clip-path="url(#cd-image-1)" xlink:href="/assets/images/creativity-img-1.jpg"></image>
                  </svg>
                </div>
              </li>
              <li>
                <div class="cd-svg-wrapper">
                  <svg viewBox="0 0 1635 920">
                    <defs>
                      <clipPath id="cd-image-2">
                        <path id="cd-changing-path-2" d="M1400,800H0c0,0,1-213,1-423S1,0,1,0h1399c0.6,0,1,0.4,1,1V800z"/>
                      </clipPath>
                    </defs>
                    <image width="1635" height="920" clip-path="url(#cd-image-2)" xlink:href="/assets/images/creativity-img--2.jpg"></image>
                  </svg>
                </div>
              </li>
              <li>
                <div class="cd-svg-wrapper">
                  <svg viewBox="0 0 1635 920">
                    <defs>
                      <clipPath id="cd-image-3">
                        <path id="cd-changing-path-3" d="M1400,800H0c0,0,1-213,1-423S1,0,1,0h1399c0.6,0,1,0.4,1,1V800z"/>
                      </clipPath>
                    </defs>

                    <image width="1635" height="920" clip-path="url(#cd-image-3)" xlink:href="/assets/images/creativity-img-3.jpg"></image>
                  </svg>
                </div>
              </li>
              <li>
                <div class="cd-svg-wrapper">
                  <svg viewBox="0 0 1635 920">
                    <defs>
                      <clipPath id="cd-image-4">
                        <path id="cd-changing-path-4" d="M1400,800H0c0,0,1-213,1-423S1,0,1,0h1399c0.6,0,1,0.4,1,1V800z"/>
                      </clipPath>
                    </defs>

                    <image width="1635" height="920" clip-path="url(#cd-image-4)" xlink:href="/assets/images/113.jpg"></image>
                  </svg>
                </div>
              </li>
              <li>
                <div class="cd-svg-wrapper">
                  <svg viewBox="0 0 1635 920">
                    <defs>
                      <clipPath id="cd-image-5">
                        <path id="cd-changing-path-5" d="M1400,800H0c0,0,1-213,1-423S1,0,1,0h1399c0.6,0,1,0.4,1,1V800z"/>
                      </clipPath>
                    </defs>

                    <image width="1635" height="920" clip-path="url(#cd-image-5)" xlink:href="/assets/images/creativity-img-5.jpg"></image>
                  </svg>
                </div>
              </li>

            </ul>
            <ul class="cd-slider-navigation" aria-hidden="true">
              <li><a href="#0" class="next-slide">Next</a></li>
              <li><a href="#0" class="prev-slide">Prev</a></li>
            </ul>
          </div>
          <div class="creativity-text-wrap" data-scroll data-scroll-speed="3">
            <div class="slider creativity-text-slider">
              <div class="creative-box bg-primary" data-color="primary">
                <div class="creative-content">
                  <div class="d-block creative-animate"><i class="creative-icon animate-box">
                    <lfr-editable id="slide1-svg-icon" type="image">
                      <img src="/assets/svgs/dine.svg" alt="" class="img-fluid">
                    </lfr-editable>
                  </i></div>
                  <h3 class="creative-animate">
                    <span class="animate-box d-block">
                      <lfr-editable id="slide1-title" type="rich-text">LIVE YOUR <br> BEST LIFE</lfr-editable>
                    </span>
                  </h3>
                  <div class="creative-animate">
                    <lfr-editable id="slide1-description" type="rich-text">
                      <p class="animate-box">in one of 6,353 units, with a vibrant boulevard and a Wadi promenade right at your doorstep.</p>
                    </lfr-editable>
                  </div>
                  <div class="creative-animate">
                    <div class="animate-box">
                      <lfr-editable id="slide1-button-link" type="link">
                        <a href="javascript:" class="btn btn-outline-white">
                          <span><lfr-editable id="slide1-button-label" type="text">EXPLORE</lfr-editable></span>
                          <i class="dot-line"></i>
                        </a>
                      </lfr-editable>
                    </div>
                  </div>
                </div>
              </div>
              <div class="creative-box bg-warning" data-color="warning">
                <div class="creative-content">
                  <div class="d-block creative-animate"><i class="creative-icon animate-box">
                    <lfr-editable id="slide2-svg-icon" type="image">
                      <img src="/assets/svgs/bulb.svg" alt="" class="img-fluid">
                    </lfr-editable>
                  </i></div>
                  <h3 class="creative-animate">
                    <span class="animate-box d-block">
                      <lfr-editable id="slide2-title" type="rich-text">WORK <br> SMART</lfr-editable>
                    </span>
                  </h3>
                  <div class="creative-animate">
                    <lfr-editable id="slide2-description" type="rich-text">
                      <p class="animate-box">Stay ahead of the times–break into emerging tech industries, collaborate via incubators, and get facetime with investors.</p>
                    </lfr-editable>
                  </div>
                  <div class="creative-animate">
                    <div class="animate-box">
                      <lfr-editable id="slide2-button-link" type="link">
                        <a href="javascript:" class="btn btn-outline-white">
                          <span><lfr-editable id="slide2-button-label" type="text">EXPLORE</lfr-editable></span>
                          <i class="dot-line"></i>
                        </a>
                      </lfr-editable>
                    </div>
                  </div>
                </div>
              </div>
              <div class="creative-box bg-info" data-color="info">
                <div class="creative-content">
                  <div class="d-block creative-animate"><i class="creative-icon animate-box">
                    <lfr-editable id="slide3-svg-icon" type="image">
                      <img src="/assets/svgs/dine.svg" alt="" class="img-fluid">
                    </lfr-editable>
                  </i></div>
                  <h3 class="creative-animate">
                    <span class="animate-box d-block">
                      <lfr-editable id="slide3-title" type="rich-text">BREAK <br> THE MOLD</lfr-editable>
                    </span>
                  </h3>
                  <div class="creative-animate">
                    <lfr-editable id="slide3-description" type="rich-text">
                      <p class="animate-box">Unlearn what you know. Benefit from innovation bootcamps, upskill at colleges specializing in emerging tech industries.</p>
                    </lfr-editable>
                  </div>
                  <div class="creative-animate">
                    <div class="animate-box">
                      <lfr-editable id="slide3-button-link" type="link">
                        <a href="javascript:" class="btn btn-outline-white">
                          <span><lfr-editable id="slide3-button-label" type="text">EXPLORE</lfr-editable></span>
                          <i class="dot-line"></i>
                        </a>
                      </lfr-editable>
                    </div>
                  </div>
                </div>
              </div>
              <div class="creative-box bg-success" data-color="success">
                <div class="creative-content">
                  <div class="d-block creative-animate"><i class="creative-icon animate-box">
                    <lfr-editable id="slide4-svg-icon" type="image">
                      <img src="/assets/svgs/bulb.svg" alt="" class="img-fluid">
                    </lfr-editable>
                  </i></div>
                  <h3 class="creative-animate">
                    <span class="animate-box d-block">
                      <lfr-editable id="slide4-title" type="rich-text">NEXT-LEVEL <br> LEISURE</lfr-editable>
                    </span>
                  </h3>
                  <div class="creative-animate">
                    <lfr-editable id="slide4-description" type="rich-text">
                      <p class="animate-box">Even the retail and food experiences at MiSK City challenge the norm - brace yourself for a thrilling ride for the senses.</p>
                    </lfr-editable>
                  </div>
                  <div class="creative-animate">
                    <div class="animate-box">
                      <lfr-editable id="slide4-button-link" type="link">
                        <a href="javascript:" class="btn btn-outline-white">
                          <span><lfr-editable id="slide4-button-label" type="text">EXPLORE</lfr-editable></span>
                          <i class="dot-line"></i>
                        </a>
                      </lfr-editable>
                    </div>
                  </div>
                </div>
              </div>
              <div class="creative-box bg-blue" data-color="blue">
                <div class="creative-content">
                  <div class="d-block creative-animate"><i class="creative-icon animate-box">
                    <lfr-editable id="slide5-svg-icon" type="image">
                      <img src="/assets/svgs/dine.svg" alt="" class="img-fluid">
                    </lfr-editable>
                  </i></div>
                  <h3 class="creative-animate">
                    <span class="animate-box d-block">
                      <lfr-editable id="slide5-title" type="rich-text">FUELLING <br> YOUR IMAGINATION</lfr-editable>
                    </span>
                  </h3>
                  <div class="creative-animate">
                    <lfr-editable id="slide5-description" type="rich-text">
                      <p class="animate-box">From lively cultural hubs for exchanging ideas, to performances, street and digital art, MiSK has it all.</p>
                    </lfr-editable>
                  </div>
                  <div class="creative-animate">
                    <div class="animate-box">
                      <lfr-editable id="slide5-button-link" type="link">
                        <a href="javascript:" class="btn btn-outline-white">
                          <span><lfr-editable id="slide5-button-label" type="text">EXPLORE</lfr-editable></span>
                          <i class="dot-line"></i>
                        </a>
                      </lfr-editable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="portTextArrow">
              <button class="portLeftArrow"><i class="icon-left-arrow"></i></button>
              <div class="number-box"><span class="pagingInfo"></span></div>
              <button class="portRightArrow"><i class="icon-right-arrow"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
