<section class="contact-us-section" data-scroll-section>
  <div class="liveable-right-shape animate" data-animation="fadeInRight" data-duration="700"><img src="/assets/svgs/pink-shape.svg" alt="" class="img-fluid"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-6">
        <h3 class="animate" data-animation="fadeInUp" data-duration="400"><lfr-editable id="form-title-field-1" type="text">You have questions?</lfr-editable> <span class="text-primary"><lfr-editable id="form-title-field-2" type="rich-text">We have answers!</lfr-editable></span></h3>
        <div class="form-wrapper contact-us-form animate" data-animation="fadeInUp" data-duration="500">
          <form action="javascript:" id="contactUs">
            <div class="form-group row no-gutters">
              <label class="col-12 col-md-4 col-lg-3 form-label"><span class="label-text">[@liferay.language key="misk-form-label-full-name" /]</span> <span class="mandatory">*</span></label>
              <div class="col-12 col-md-8 col-lg-9">
                <input type="text" class="form-control" name="name" placeholder="John doe">
              </div>
            </div>
            <div class="form-group row no-gutters">
              <label class="col-12 col-md-4 col-lg-3 form-label"><span class="label-text">[@liferay.language key="misk-form-label-email" /]</span> <span class="mandatory">*</span></label>
              <div class="col-12 col-md-8 col-lg-9">
                <input type="text" class="form-control" name="email" placeholder="john@example.com">
              </div>
            </div>
            <div class="form-group row no-gutters">
              <div class="col-12">
                <input type="tel" name="Telephone1" id="phone">
              </div>
            </div>
            <div class="form-group row no-gutters">
              <div class="col-12">
                <select name="property" class="selectpicker-2">
                  <option value=" ">[@liferay.language key="misk-form-please-select" /]</option>
                  <option value="Property Investment">Property Investment</option>
                  <option value="Option 1">Option 1</option>
                  <option value="Option 2">Option 2</option>
                  <option value="Option 3">Option 3</option>
                  <option value="Option 4">Option 4</option>
                  <option value="Option 5">Option 5</option>
                  <option value="Option 6">Option 6</option>
                  <option value="Option 7">Option 7</option>
                  <option value="Option 8">Option 8</option>
                  <option value="Option 9">Option 9</option>
                  <option value="Option 10">Option 10</option>
                </select>
              </div>
            </div>
            <div class="form-group row no-gutters">
              <label class="col-12 col-md-4 col-lg-3 form-label"><span class="label-text">[@liferay.language key="misk-form-label-comment" /]</span> <span class="mandatory">*</span></label>
              <div class="col-12 col-md-8 col-lg-9">
                <textarea name="textarea" cols="30" rows="10" class="form-control" placeholder="[@liferay.language key='misk-form-placeholder-comment' /]"></textarea>
              </div>
            </div>
            <div class="form-group row no-gutters border-0 mt-sp-7">
              <div class="col-12">
                <button type="submit" class="btn btn-outline-primary"><span><lfr-editable id="form-button-text" type="text">Fire away</lfr-editable></span><i class="dot-line"></i></button>
              </div>
            </div>
          </form>
          <div class="thanks">
            <div class="thanks-inner">
              <h4 class="mb-1">[@liferay.language key="misk-form-thanks-title" /]</h4>
              <p class="mb-0">[@liferay.language key="misk-form-thanks-description" /]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-6">
        <div class="liveable-img text-right animate" data-animation="fadeInRight" data-duration="400">
          <lfr-editable id="image" type="image">
            <img src="/assets/images/contact-us-img.jpg" alt="" class="img-fluid">
          </lfr-editable>
        </div>
      </div>
    </div>
  </div>
</section>
