/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
#wrapper{
  padding: 0;
  margin: 0;
}

/*body {
  -webkit-overflow-scrolling: touch !important;
  text-rendering: optimizeLegibility !important;
  text-rendering: geometricPrecision !important;
  font-smooth: always !important;
  font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  .m-navigation-body{
    .menuWrapper{
      .btn-outline-primary {
        border-color: #00372a!important;
        color: #00372a!important;
      }
      .btn-outline-primary:hover{
        border-color: #00372a!important;
        color: #fff!important;
      }
    }
  }
  .dropdown-menu{
    .dropdown-item.active, .dropdown-item:active{
      background-color: #00372a!important;
    }
  }
}*/

#content > div.container.pb-3.pt-3{
  display: none !important;
}

main .breadcrumb-item+.breadcrumb-item::before {
  background-image: none;
  position: initial;
  margin-top: 0;
  top: 0;
  width: 25px;
}